html {
  height: 300px;
  width: 350px;
  cursor: default;
  user-select: none;
}

body {
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
  margin: 0;
  color: #abb2b6;
  font-size: 12px;
  line-height: 1.5;
  background-color: #21252b;
}

button {
  color: #969eac;
  background-color: #373d47;
  background-image: linear-gradient(lighten(#383e48, 2%), #373d47);
  border: 1px solid #181a1f;
  max-width: 80px;
  min-width: 20px;
  display: inline-block;
  padding: 3px 8px;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: default;
}

button:focus, input:focus {
  outline-color: #6696e7;
  outline-width: thin;
}

input {
  background-color: #1b1d23;
  color: #d7dae0;
  border: 1px solid #181a1f;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

table {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.banner {
  height: 46px;
  background-color: #373d47;
}

.w3-cell {
  vertical-align: middle;
  font-size: 22px;
  font-weight: lighter;
}

.verify_pass {
  width: 100%;
  background-color: #a0a0a0;
  padding: 2px;
  text-align: left;
  font-size: 10px;
  bottom: 20px;
  left: 0px;
  position: absolute;
  color: #a0a0a0;
}

#storedids {
  position: absolute;
  font-size: 1.5em;
  width: 90%;
  z-index: 99;
  background-color: #373d47;
  color: #fff;
}

#passwdtype {
  font-size: 1.5em;
  background-color: #373d47;
  color: #fff;
}

#thepassword {
  padding-left: 8px;
}

#passwdgeneration {
  width: 30%;
  margin-left: -60px;
  height: 20px;
  vertical-align: middle;
}

#passwdtype, #passwdtimeout {
  width: 100px;
  margin-left: 40px;
}

.genlabel {
  margin-top: 20px;
  vertical-align: middle;
}

#thepassword a {
  text-decoration: none;
}

#usermessage {
  width: 100%;
  background-color: #616161;
  padding: 2px;
  text-align: left;
  font-size: 10px;
  bottom: 0px;
  position: absolute;
  color: #a0a0a0;
  overflow: hidden;
  text-overflow: ellipsis;
}

#usermessage.warning_message {
    color: white;
    background-color: red;
}

#usermessage.info_message {
    color: white;
}

#change_keyid_ok {
  height: 20px;
}

.form-group {
  margin-bottom: 10px;
  width: 100%;
}

/* Options page styles */
.form-group-options {
  margin-bottom: 0px;
  width: 50%;
}

.leftArea {
  width: 50%;
  float: left;
}

.rightArea {
  width: 50%;
  float: right;
}

.maincard {
  width: 800px;
  padding-bottom: 20px !important;
  margin-bottom: 20px !important;
}